<%layout("layouts/boilerplate")-%>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <form action="/mindbloom/course/<%=course.CID%>?_method=PUT" method="POST" nonvalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">Course Title</label>
                <input type="text" name="title" placeholder="Enter title" id="title" class="form-control" value="<%=course.TITLE%>" required>
                <div class="valid-feedback">Title looks good!!</div>
            </div>
            <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="description" cols="30" rows="10"
                        class="form-control" required><%=course.DESCRIP%></textarea>
                        <div class="invalid-feedback">Description should be short and sweet</div>
                </div>
            <div class="mb-3">
                <label for="video" class="form-label">Number of Videos</label>
                <input type="text" name="video" placeholder="Enter number of videos" id="video" class="form-control" value="<%=course.VIDEO%>" required>
                <div class="valid-feedback">Great number of videos!!</div>
            </div>
            <div class="mb-3">
                <label for="tid" class="form-label">Teacher Username</label>
                <input type="text" name="tname" placeholder="Enter teacher username" id="tid" class="form-control" value="<%=teachers.TNAME%>" required>
            </div>
            <div class="mb-3">
                <label for="image_url" class="form-label">Cover Image URL</label>
                <input type="text" class="form-control" name="imglink" placeholder="Enter image url" value="<%=course.IMGLINK%>" id="image_url">
            </div>
            <div class="mb-3">
                <label for="video_url" class="form-label">Video URL</label>
                <input type="text" class="form-control" name="vidLink" placeholder="Enter image url" value="<%=course.VIDLINK%>" id="video_url">
            </div>
            <div class="mb-3">
                <button class="btn btn-dark edit-btn mt-3">Edit</button>
            </div>
        </form>
    </div>
</div>